@model TransacaoModel

@{
    ViewData["Title"] = "Criar Registro de Transação";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Transacao" asp-action="CriarTransacao">

    <div class="form-group">
        <label>Data:</label>
        <input type="date" class="form-control" asp-for="Data" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo:</label>
        <div class="radio">
            <label>
                <input type="radio" asp-for="Tipo" value="R" checked />Receita
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" asp-for="Tipo" value="D" unchecked />Despesas
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Valor:</label>
        <input type="number" class="form-control" asp-for="Valor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Histórico:</label>
        <textarea rows="5" class="form-control" asp-for="Descricao" ></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Conta:</label>
        <select asp-for="Conta_Id">
            @{ 
                foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                {
                        <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Plano de Contas:</label>
        <select asp-for="PlanoConta_Id">
            @{
                foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
                {
                    <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-block btn-success">Registrar</button>

</form>

