@model TransacaoModel

@{
    ViewData["Title"] = "Meu Extrato";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form asp-controller="Transacao" asp-action="Extrato">
        <div class="form-group">
            <label>Data Transação (Inicio): </label>
            <input type="date" asp-for="Data" class="form-control" />
        </div>
        <div class="form-group">
            <label>Data Transação (Final): </label>
            <input type="date" asp-for="DataFinal" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tipo Transação</label>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="A" checked />Receitas e Despesas</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" />Receita</label></div>
            <div class="radio"><label><input type="radio" asp-for="Tipo" value="D" />Despesas</label></div>
        </div>
        <div class="form-group">
            <label>Conta</label>
            <select asp-for="Conta_Id" class="form-control">
                @{ 
                    foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
                    {
                                <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-success">Pesquisar</button>
    </form>
</div>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Histórico</th>
            <th>Nome Conta</th>
            <th>Plano Conta</th>
            <th>Usuario</th>
        </tr>
    </thead>
    @{
        foreach (var item in (List<TransacaoModel>)ViewBag.ListaTransacao)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-primary" onclick="Editar(@item.Id.ToString())">Editar</button></td>
                    <td>@item.Data.ToString()</td>
                    <td>@item.Tipo.ToString().Replace("R", "Receita").Replace("D", "Despesas")</td>
                    <td>@item.Valor</td>
                    <td>@item.Descricao.ToString()</td>
                    <td>@item.NomeConta.ToString()</td>
                    <td>@item.PlanoConta.ToString()</td>
                    <td>@item.NomeUsuario.ToString()</td>
                </tr>
            </tbody>
        }
    }
</table>

<h3><strong>Saldo: </strong>R% 0.00</h3>

<script>
    function Editar(id) {
        window.location.href = "../Transacao/EditarTransacao/" + id;
    }
</script>
